.title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 48px;
    letter-spacing: 2px;
}
.grid3 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    grid-gap: 30px;
    justify-content: center;

}